{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-lg-4" style="margin: 10px 10px 0px 10px; box-shadow: 2px 2px 12px rgba(0,0,0,0.2); box-sizing: border-box; padding: 10px;">
                <img style="margin: 0px 80px 0px 80px;" src="{{ product.imageUrl }}" alt="" height="200px" width="200px">
                <div class="box-ele5ent prod5ct">
                    <h6><strong>{{ product.name }}</strong></h6>
                    <hr>
                    <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style="display: inline-block; float: right;">${{ product.price | floatformat:2 }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}